.title-add-category {
    color: #009688;
}

.text-input {
    color: #4183f5;
}

.btn-save {
    background-color: #009688 !important;
}

.icon-add-category {
    color: #009688;
    margin-right: 5px;
    margin-bottom: 3px;
}

.alert-empty-input {
    height: 25px;
    padding: 0 !important;
    font-size: 14px;
    text-align: center;
}

.add-button {
    height: 40px;
    width: 40px;
    background-color: #20658d;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}