body {
    margin-top: 2%;
    margin-left: 45%;
    color: #20658d;
    background-repeat: no-repeat;
    background-size: 80%;
    background-size: cover;
    font: 600 16px/18px 'Open Sans', sans-serif;
}